.jumbotron {
    background-image: url("https://imgur.com/htM0mjj.jpg");
    background-size: 100% 250px;
    min-height: 250px;
  }


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#BE1E2D;
    color: black;
 }

body{
    background-image: url("https://imgur.com/G5KdMiJ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

img:hover {
 transform: scale(1.1);
}

h1{
    font-family: 'Spectral', serif;
}